.tab {
  display: flex;
  width: 300px;
  text-align: center;
  align-items: center;
  justify-content: center;
}


.tab-item {
  flex: 1;
}

.active {
  color: red;
  padding-bottom: 5px;
  border-bottom: 3px solid red;
}